<div class="titulo">
  <h3>
    Calcula Frete
  </h3>
</div>
<div>
  <mat-expansion-panel name="panelCadastroEstado" [expanded]="isExpandido === 1" (opened)="setExpandido()">
    <mat-expansion-panel-header>
      <mat-panel-title>Cadastro de Estado</mat-panel-title>
      <mat-panel-description>Estado</mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col s12 m2 l2">
        <mat-form-field>
          <input matInput type="number" placeholder="Código" />
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col s12 m2 l2">
          <mat-form-field>
            <input matInput type="text" placeholder="UF" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m2 l2">
          <mat-form-field>
            <input matInput type="text" placeholder="Descrição" />
          </mat-form-field>
        </div>
      </div>
      <div class="row footer-btn">
        <div class="button-row col s12">
          <button mat-raised-button (click)="voltar()">Voltar</button>
          <button mat-raised-button color="green" (click)="salvarEstado()">Salvar</button>
          <!--<button *ngIf="edicao" mat-raised-button color="green" (click)="atualizar()">Atualizar</button>-->
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel name="panelCadastroCidade" [expanded]="isExpandido === 1" (opened)="setExpandido()">
    <mat-expansion-panel-header>
      <mat-panel-title>Cadastro de Cidade</mat-panel-title>
      <mat-panel-description>Cidade</mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col s12 m2 l2">
        <mat-form-field>
          <input matInput type="number" placeholder="Código"  />
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col s12 m2 l2">
          <mat-form-field>
            <input matInput type="text" placeholder="Descrição"  />
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Estado</mat-label>
          <mat-select>
            <mat-option *ngFor="let estado of estados" [value]="estado.descricao">
              {{estado.descricao + estado.uf}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row footer-btn">
        <div class="button-row col s12">
          <button mat-raised-button (click)="voltar()">Voltar</button>
          <button mat-raised-button color="green" (click)="salvarCidade()">Salvar</button>
          <!--<button *ngIf="edicao" mat-raised-button color="green" (click)="atualizar()">Atualizar</button>-->
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-accordion>
    <mat-expansion-panel name="panelCadastroCep" [expanded]="isExpandido === 1" (opened)="setExpandido()">
      <mat-expansion-panel-header>
        <mat-panel-title>Cadastro de CEP</mat-panel-title>
        <mat-panel-description>CEP</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col s12 m2 l2">
          <mat-form-field>
            <input matInput type="text" placeholder="cep" />
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Cidade</mat-label>
          <mat-select>
            <mat-option *ngFor="let cidade of cidades" [value]="cidade.codigo">
              {{cidade.descricao}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row footer-btn">
        <div class="button-row col s12">
          <button mat-raised-button (click)="voltar()">Voltar</button>
          <button mat-raised-button color="green" (click)="salvarCep()">Salvar</button>
          <!--<button *ngIf="edicao" mat-raised-button color="green" (click)="atualizar()">Atualizar</button>-->
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>