<div class="titulo">
  <h3>
    Calcula Frete
  </h3>
</div>


<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelCadastroEstado" [expanded]="isExpandido === 1" (opened)="setExpandido()">
        <mat-expansion-panel-header>
          <mat-panel-title>Cadastro de Estado</mat-panel-title>
          <mat-panel-description>Estado</mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col s12 m2 l2">
            <mat-form-field>
              <input matInput type="number" placeholder="Código" [(ngModel)]="estado.codigo" required />
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col s12 m2 l2">
              <mat-form-field>
                <input matInput type="text" placeholder="UF" [(ngModel)]="estado.uf" />
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m2 l2">
            <mat-form-field>
              <input matInput type="text" placeholder="Descrição" [(ngModel)]="estado.descricao" />
            </mat-form-field>
          </div>
        </div>


        <div class="row">
          <div class="col s12 m12 l12">
            <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- ID -->
              <ng-container matColumnDef="codigo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>>
                <mat-cell *matCellDef="let element"> {{element.codigo}} </mat-cell>
              </ng-container>

              <!-- Sigla -->
              <ng-container matColumnDef="uf">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Uf </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.uf}} </mat-cell>
              </ng-container>

              <!-- Nome -->
              <ng-container matColumnDef="descricao">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.descricao}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButton></mat-paginator>
          </div>
        </div>
        <div class="row footer-btn">
            <div class="button-row col s12">
              <button mat-raised-button (click)="voltar()">Voltar</button>
              <button mat-raised-button color="green" (click)="salvarEstado()">Salvar</button>
              <!--<button *ngIf="edicao" mat-raised-button color="green" (click)="atualizar()">Atualizar</button>-->
            </div>
          </div>
      </mat-expansion-panel>
    </mat-accordion>

    <!------------------------------------------------------------------------>
    
<mat-expansion-panel name="panelCadastroCidade" [expanded]="isExpandido === 1" (opened)="setExpandido()">
    <mat-expansion-panel-header>
      <mat-panel-title>Cadastro de Cidade</mat-panel-title>
      <mat-panel-description>Cidade</mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col s12 m2 l2">
        <mat-form-field>
          <input matInput type="number" placeholder="Código" name="codigo" [(ngModel)]="cidadeModel.codigo" />
        </mat-form-field>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col s12 m2 l2">
        <mat-form-field>
          <input matInput type="text" placeholder="Descrição" name="descricao" [(ngModel)]="cidadeModel.descricao" />
        </mat-form-field>
      </div>
  
      <div class="col s12 m2 l2">
        <mat-form-field>
          <mat-label>Estado</mat-label>
          <mat-select name="estado" [(ngModel)]="estadoSelId" (selectionChange)="atualizaEstadoListBox()">
            <mat-option *ngFor="let estado of estados" [value]="estado.codigo">
              {{estado.descricao + estado.uf}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  
  
    <div class="row footer-btn">
      <div class="button-row col s12">
        <button mat-raised-button (click)="voltar()">Voltar</button>
        <button mat-raised-button color="green" (click)="salvarCidade()">Salvar Cidade</button>
        <!--<button *ngIf="edicao" mat-raised-button color="green" (click)="atualizar()">Atualizar</button>-->
      </div>
    </div>
  
  </mat-expansion-panel>
  <mat-accordion>
    <mat-expansion-panel name="panelCadastroCep" [expanded]="isExpandido === 1" (opened)="setExpandido()">
      <mat-expansion-panel-header>
        <mat-panel-title>Cadastro de CEP</mat-panel-title>
        <mat-panel-description>CEP</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col s12 m2 l2">
          <mat-form-field>
            <input matInput type="text" placeholder="cep" />
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Cidade</mat-label>
          <mat-select>
            <mat-option *ngFor="let cidade of cidades" [value]="cidade.codigo">
              {{cidade.descricao}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row footer-btn">
        <div class="button-row col s12">
          <button mat-raised-button (click)="voltar()">Voltar</button>
          <button mat-raised-button color="green" (click)="salvarCep()">Salvar</button>
          <!--<button *ngIf="edicao" mat-raised-button color="green" (click)="atualizar()">Atualizar</button>-->
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  
  
  
  </div>
</div>